<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.kavankumarjoshi.OmniaLite.refresh</string>
		<string>com.kavankumarjoshi.OmniaLite.processing</string>
	</array>
	<key>NSManagedAppConfig</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Omnia Lite requires location access to provide location-based business insights and analytics tracking.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Omnia Lite requires location access to provide location-based business insights and analytics tracking.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Omnia Lite requires background location access to provide continuous business insights and analytics tracking even when the app is not active.</string>
	<key>CFBundleDisplayName</key>
	<string>Omnia Lite</string>
	<key>CFBundleName</key>
	<string>Omnia Lite</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
</dict>
</plist>
