<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Omnia.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EE01AD637CF788C762E2B97A077DB74592F9AD67</string>
				<key>dateExpires</key>
				<string>4/8/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>L9GM633593.com.omniaapp.Omnia.v2</string>
				<key>com.apple.developer.team-identifier</key>
				<string>L9GM633593</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Omnia.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cec39e09-bb7e-4587-bae5-4f9456ad5686</string>
				<key>dateExpires</key>
				<string>4/8/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.omniaapp.Omnia.v2</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>L9GM633593</string>
				<key>name</key>
				<string>Kavankumar Joshi</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2</string>
		</dict>
	</array>
</dict>
</plist>
