<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Omnia.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BF86367F5F55A38D3D5FF1CE4CD8972202C9BD1C</string>
				<key>dateExpires</key>
				<string>5/8/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>L9GM633593.com.omniaapp.Omnia.v2</string>
				<key>com.apple.developer.team-identifier</key>
				<string>L9GM633593</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Omnia.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>00835b98-cb95-41e5-b007-311be51e8867</string>
				<key>dateExpires</key>
				<string>8/29/26</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.omniaapp.Omnia.v2</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>L9GM633593</string>
				<key>name</key>
				<string>Kavankumar Joshi</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
